/* Multiple Parallax Effect */
@keyframes fade_in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
  animation: fade_in 3s;
}
.fade_top {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(black, transparent);
  opacity: .4;
  pointer-events: none;
}
.fade_bottom {
  content: '';
  position: relative;
  top: 865px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, black);
  opacity: .4;
  pointer-events: none;
}
.logo {
    height: 500px;
    width: 500px;
    /* Center */
    position: relative;
    top: 50%;
    transform: translateY(-250px);
    margin-left: auto;
    margin-right: auto;
    /* ______ */
    border: 5px solid white;
    background: url("Photos/Small_Logo.png") no-repeat center;
    box-shadow: 50px 50px 100px black;
    opacity: .9;
}
.center {
  height: auto;
  text-align: center;
  padding-top: 15% ;
}
h1{
  height: auto;
  width: auto;
  font-size: 4em;
  font-weight: bold;
  color: white;
  box-shadow: 0 10px 40px black;
  padding: 2%;
  display:inline-block;
}
h1 a {
  text-decoration: none;
  height: auto;
  width: auto;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  display:inline-block;
}
#Home {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Photos/Front.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Reservation {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Photos/Back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#img3 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Photos/Singer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Contact {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Photos/Band.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ________________________ */
/* Navbar 1 */
* {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
}
#navbar {
    width: 100%;
    height: 140px;
    background-color: black;
    position: fixed;
    opacity: .8;
    z-index: 100;
}
.inner_navbar {
    margin: 0 auto;
    width: 1170px;
    height: 140px;
}
.inner_navbar ul {
    margin: 0;
    padding: 49px;
    list-style: none;
    text-align: right;
}
.inner_navbar ul li {
    width: auto;
    float: none;
    display: inline-block;
}
.inner_navbar ul li:nth-child(1) {
    float: left;
}
.inner_navbar ul li:nth-child(2) {
    float: left;
}
.inner_navbar ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
}
.inner_navbar ul li a:hover {
    /* What it does when hovered */
}
.logo_area {
    width: 300px;
    height: 140px;
    background-image: url("Logo.png");
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -150px;

}
#bottembar {
    height: 100px;
    background-color: black;
    opacity: .8;
    position: fixed;
    bottom: 0;

}
/* ________ */
